{% extends 'catalog/base.html' %}
{% block title %}Главная{% endblock %}
{% block header %}
<h1 class="display-4">Skystore</h1>
<p class="lead">Skystore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
    продать</p>
{% endblock %}
{% block content %}
<div class="row text-center">

    {% for product in products %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$ {{product.price}}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>- {{product.description | truncatechars:100 }}</li>
                </ul>
                <a href="{% url 'catalog:product_detail' product.pk %}"
                   class="btn btn-primary">
                    Подробнее
                </a>
                <button type="button" class="btn btn-outline-primary">Купить</button>
                {% if perms.catalog.can_unpublish_product %}
                <form action="{% url 'catalog:product_unpublish' product.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light mt-1">Скрыть</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}